* {
	padding: 0;
	margin: 0;
}
body	{
 	background-color: #fff;
	color: #120F25;
	font-family: Helvetica, Arial, sans-serif;
	line-height: 1.5;

}
header{
	background-color: #E2ECF1;
	padding: 20px;
}
#navtop{
	background-color: #3465A6;
	text-align: center;
	font-size: 14px;
	padding: 15px;
}

h1{
	color: #120F25;
	font-size: 30px;
	text-transform: uppercase;
}

h2{
	text-align: left;
	font-size: 20px;
	text-transform: 700
}

h4{
	font-size: 18px;
	text-align: center;
	margin: 20px 20px 0 0;
	padding: 0 0 20px 20px;
}

hr{
	margin-left: 30%;
	margin-right: 30%;
	margin-bottom: 20px;
	width: 40%;
}

#slogan{
	color: #183361;
	padding-top: 6px;
}

a{
	color: #fff;
	text-decoration: none;
}

img{
	width: 100%;
}

p{
	padding-left: : 20px;
	text-align: center;
}

ul{
	padding-left: 20px;
	padding-bottom: 30px;
	padding-top: 20px;
	text-align: center;
	list-style-type: none;
}

footer{
	text-align: center;
	font-size: 13px;
	padding: 10px;
	background-color: #6B8A97;
	line-height: 1.5;
}